* {
    margin: 0px;
    padding: 0px;
}
#topo{
    height: 80px;
    background-color: black;
}
#topo h1{
    color: white;
    font-size: 50px;
    padding-top: 10px;
    text-align: center;
}
#menu {
    position: sticky;
    top: 0;
}
#menu ul{
    background-color: cornflowerblue;
    text-align: center;
}
#menu ul li{
    display: inline-table;
    padding: 20px 70px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}
#menu ul li:hover{
    background-color: #0B173B;
}
#menu ul li a{
    text-decoration: none;
    color: white;
}
.conteudo{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    font-size: 20px;
    background-color: #D8D8D8;
    text-align: justify;
}
.conteudo p {
    padding-top: 15px;
}
.conteudo h2, h3{
    padding-top: 20px;
    padding-bottom: 15px;
}
#dicas ul {
    padding-left: 15px;
}
#dicas ul li {
    padding-top: 10px;
}
#table {
    width: 100%;
    border: 1px solid black
}
#table td {
    height: 50px;
    border: 1px solid black
    }
#linha1 {
    text-align: center;
    
}